{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "singleQuote": true,
        "trailingCommaPHP": "php7.3",
        "printWidth": 120
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
